.record-box-main {
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    padding: 18px;
    flex-direction: column;
}

.userAndAddTop {
    display: flex;
    justify-content: space-around;
}

/* box left */
.profile {
    width: 29%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 40px;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(to bottom, rgba(221, 109, 187, 0.794) , rgba(176, 41, 230, 0.52));
    background: linear-gradient(-90deg, #02203c, #001528);

    box-shadow: 2px 3px 8px rgba(154, 114, 137, 0.935);
}

.pro-pic {
    margin-bottom: 5px;
}
.data-profile {
    width: 100%;
    color:white;
    margin: 3px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* box-shadow:0px 0px 35px rgb(39, 51, 156); */
}

.data-profile-user {
    border-radius: 20px;
    background: linear-gradient(-90deg, #02203c, #001528);
    display: flex;
    /* color: rgb(169, 9, 102); */
    color: white;
    padding: 10px 8px;
    font-size: 18px;
    width: 100%;
    justify-content: center;
    /* box-shadow: 2px 3px 8px rgba(154, 114, 137, 0.935); */
    box-shadow:0px 0px 10px rgb(171, 175, 218);
    margin-bottom: 5px;
}




/* box right */
.box-right {
    width: 69%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 40px;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(to bottom, rgba(221, 109, 187, 0.794) , rgba(176, 41, 230, 0.52));
    background: linear-gradient(-90deg, #02203c, #001528);
    box-shadow: 2px 3px 8px rgba(154, 114, 137, 0.935);
}



.top-plus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.data-activity {
    border-radius: 30px;
    background: linear-gradient(-90deg, #02203c, #001528);
    box-shadow: 2px 3px 4px rgba(248, 248, 248, 0.055);
    backdrop-filter: blur(30px);
    display: flex;
    color: rgb(171, 42, 117);
    color: white;
    margin-bottom: 7px;
    padding: 10px 8px;
    font-size: 18px;
    width: 100%;
    justify-content: center;
    /* box-shadow: 2px 3px 8px rgba(154, 114, 137, 0.935); */
    box-shadow:0px 0px 10px rgb(171, 175, 218);
}

.data-activity-user {
    border: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.edit-profile {
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    width: 100%;
    /* transition: background 1s; */
    /* border: 2.5px solid #c84ba1a7; */
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 9px;
    box-shadow:0px 0px 20px rgb(39, 51, 156);
}

.edit-profile:hover {
    /* background-color:#f891cd; */
    background: linear-gradient(45deg, #02203c, #001528);
    color: white;
    box-shadow:0px 0px 20px rgb(39, 51, 200);
}

@media screen and (max-width: 991px) {
    .BoxDown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
    .userAndAddTop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile {
        width: 100%;
        margin-bottom: 13px;
    }

    .box-right {
        width: 100%;
    }

    .top-plus {
       display: flex;
       flex-direction: column;
    }

    
}