.record-container{
    color: white;
}

.data-result {
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
    display: flex;
    color: rgb(255, 255, 255);
    margin: 7px;
    padding: 10px 8px;
    font-size: 18px;
    width: 100%;
    justify-content: center;
    text-align: center;
    background: linear-gradient(-90deg, #02203c, #001528);
    box-shadow: 2px 3px 8px rgba(154, 114, 137, 0.935);
}

.data-activity {
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
    display: flex;
    color: rgb(255, 255, 255);
    margin-bottom: 7px;
    /* margin-top: 40px; */
    padding: 10px 8px;
    font-size: 18px;
    width: 100%;
    justify-content: center;
}

.data-activity-user {
    border: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.top-plus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.editProfileUserName {
    font-size: 18px;
    text-align: center;
    margin-bottom: 4px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    color: white;
    /* background-color: #fff0f9a6; */
     background: linear-gradient(-90deg, #02203c, #001528);
}

.BoxDown {
    margin-top: 12px;
    height: 50px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(to top, rgba(221, 109, 187, 0.794) , rgba(176, 41, 230, 0.52));
     background: linear-gradient(-90deg, #02203c, #001528);
    box-shadow: 2px 3px 8px rgba(154, 114, 137, 0.935);
}