/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
} */

.registrationForm{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    color: white;
    text-shadow: 2px 1px 4px #ffffffd7;
}

.register{
    color:#02203c;
    text-align: center;
}

.signIn {
    color:#02203c;
    text-align: center;
}

.registrationSignIn {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 1px 4px #ffffffd7;
}

.section-registration {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-top: 0;
    /* background-color: rgba(0,0,0,0.4); */
}

.section-signIn {
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    /* background-color: rgba(0,0,0,0.4); */
}

.form-registration {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 350px;
    min-width: 350px;
    /* flex-grow: 1; */
    padding-bottom: 1rem;
}

.form-signIn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-grow: 1; */
    margin-top: 0px;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label {
  margin-top: 1rem;
  font-size: 18px;
}

button {
  /* padding: 0.5rem; */
  background-color: rgb(243, 82, 157);
    background: linear-gradient(-90deg, #02203c, #001528);
    border: none;
    border-radius: 40px;
    color: rgb(100, 8, 57);
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow:0px 0px 35px rgb(39, 51, 156);
    height: 50px;
    margin-top: 10%;
}

.button:hover{
  background: linear-gradient(45deg, #02203c, #001528);
  color: #fff;
  box-shadow:0px 0px 35px rgb(39, 51, 200);
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}