@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body {
  font-family: 'Sawarabi Gothic', sans-serif;
  /* background: transparent; */
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
  background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  
* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 100px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(-90deg, #02203c, #001528);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

body::-webkit-scrollbar {
    display: none;
  }