body {
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    background-color: #f6f9fc;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#nav-design-template {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "nav-design-left nav-design-center nav-design-right";
    background: linear-gradient(-90deg, #02203c, #001528);
    color: white;
    padding: 20px;
    align-items: center;
}

#nav-design-template h4 {
    color: #8d96eb;
}


#nav-design-image {
    width: 10%; 
    height: auto; 
    border-radius: 50%;
}

#nav-design-left-row-one {
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav-design-left {
    grid-area: nav-design-left;
}
#nav-design-center {
    grid-area: nav-design-center;
    display: flex;
    justify-content: center;
    gap: 25px;
}

#nav-design-center a{
    text-decoration: none;
    color: white;
}

#nav-design-right {
    grid-area: nav-design-right;
    display: flex;
    justify-content: flex-end;
}

#nav-design-right a{
    text-decoration: none;
    color: white;
}

#heading {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "heading-left heading-right";
    background: linear-gradient(-90deg, #02203c, #001528);
    color: white;
}

#heading-left {
    grid-area: heading-left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100%;
    height: auto;
}

header button {
    background-color: #626ee3;
    color: white;
    height: 50px;
    font-size: 30px;
    padding: 5px;
    border: none;
    border-radius: 5%;
    margin: 10px;
}

header p {
    font-size: 30px;
}

header h1 {
    font-size: 40px;
}

main {
    padding: 50px;
    gap: 20px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
        "row1-1 row1-2 row1-3"
        "row2-2 row2-2 row2-3"
        "row3-1 row3-2 row3-3";
    justify-content: space-between;
    text-align: center;
}

.main-program-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-program-overview-block {
    display: flex;
    flex-direction: column;
}

.card-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-space:hover {
    background-color: #e6e6e6;
}

main p::after {
    color:aqua
}

main a {
    text-decoration: none;
    color: #be03fc;
}

